.btn {
    padding: 17px;
    color: black;
    background-color: #D6DBDF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-radius: 15px;
}

.btn:hover {
    background-color: #7F8C8D;
    color: white;
}

.cal {
    padding: 20px;
    color: white;
    background-color: #D35400;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 14.5px;
    border-radius: 15px;
}

.cal:hover {
    background-color: #EB984E;
    color: white;
}

.display {
    padding: 32px;
    color: black;
    background-color: white;
    text-align: right;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: x-large;
}