<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
</style>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
        <h2><center>CALCULADORA</center></h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
        <ion-col>
          <div class="display">{{display}}</div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size=4>
          <div class="cal" (click)="clear()">AC</div>
        </ion-col>

        <ion-col size=4>
          <div class="cal" (click)="operation('x^y')">x^y</div>
        </ion-col>

        <ion-col size=4>
          <div class="cal" (click)="operation('π')">π</div>
        </ion-col>

        <ion-col size=4>
          <div class="cal" (click)="operation('Sin')">Sin</div>
        </ion-col>

        <ion-col size=4>
          <div class="cal" (click)="operation('Cos')">Cos</div>
        </ion-col>

        <ion-col size=4>
          <div class="cal" (click)="operation('Tan')">Tan</div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size=3>
          <div class="btn" (click)="num(7)">7</div>
        </ion-col>

        <ion-col size=3>
          <div class="btn" (click)="num(8)">8</div>
        </ion-col>

        <ion-col size=3>
          <div class="btn" (click)="num(9)">9</div>
        </ion-col>

        <ion-col size=3>
          <div class="cal" (click)="operation('÷')">÷</div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size=3>
          <div class="btn" (click)="num(4)">4</div>
        </ion-col>

        <ion-col size=3>
          <div class="btn" (click)="num(5)">5</div>
        </ion-col>

        <ion-col size=3>
          <div class="btn" (click)="num(6)">6</div>
        </ion-col>

        <ion-col size=3>
          <div class="cal" (click)="operation('x')">x</div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="btn" (click)="num(1)">1</div>
        </ion-col>

        <ion-col>
          <div class="btn" (click)="num(2)">2</div>
        </ion-col>

        <ion-col>
          <div class="btn" (click)="num(3)">3</div>
        </ion-col>

        <ion-col>
          <div class="cal" (click)="operation('+')">+</div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="btn" (click)="num('.')">.</div>
        </ion-col>

        <ion-col>
          <div class="btn" (click)="num(0)">0</div>
        </ion-col>

        <ion-col>
          <div class="btn" (click)="equals('=')">=</div>
        </ion-col>

        <ion-col>
          <div class="cal" (click)="operation('-')">-</div>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>